<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поддержка.fm</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="header">
    <div class="logo">
        Поддержка.fm
    </div>

    <nav class="menu">
        <a href="/">Главная</a>
        <a href="/wheel">Колесо фортуны</a>
        <a href="/about">О проекте</a>
    </nav>
</header>

<main class="content">
    <h1 class="title">Поддержка.fm</h1>

    <div class="player-block">
        <div class="player">
            <!-- Яндекс Музыка iframe -->
            <iframe
                src="https://music.yandex.ru/iframe/#track/{{ track_id }}"
                width="250"
                height="250"
                frameborder="0"
                scrolling = "no"
                allow="autoplay">
            </iframe>
        </div>

        <div class="info">
            <p class="info-text">Слушайте песню дня поддержки!</p>
            <p class="update-time">Обновление каждый четверг в 10:10</p>
        </div>
    </div>
</main>

</body>
</html>